@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.appContainer {
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 100vh;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    min-width: 80%;
    max-width: 90%;
}

.numberContainer {
    text-align: center;
    padding: 2%;
    color: #f55;
    font-weight: bold;
}

.numberContainer p {
    height: 100%;
    font-size: 16vmin;
    line-height: 80%;
    margin: 0;
}


.arrowContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    min-width: 6vw;
    min-height: 10vh;
    max-width: 8vw;
    padding: 20px;
    border-radius: 11%;
}
.arrowContainer.down,
.arrowContainer.up {
    grid-template-rows: 1fr;
}

.arrowTipLine {
    margin: 0 auto;
    transform: rotate(-45deg);
    border-radius: 11%;
}

.tenUp .line1 {
    transform: translateY(15px) rotate(-45deg);
}
.up .line1 {
    transform: translateY(25%) rotate(-45deg);
}

.tenUp .line1,
.tenUp .line2,
.up .line1,
.up .line2 {
    border-top: 8px solid #f55;
    border-right: 8px solid #f55;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    min-width: 20px;
    min-height: 20px;
}
.tenDown .line1,
.tenDown .line2,
.down .line1,
.down .line2 {
    border-bottom: 8px solid #f55;
    border-left: 8px solid #f55;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    width: 20px;
    height: 20px;
}

.down .line1 {
    transform: translateY(-25%) rotate(-45deg);
}
.tenDown .line2 {
    transform: translateY(-15px) rotate(-45deg);
}